<section
  [ngClass]="{
    'has-items': inputListItems.length
  }"
>
  @if(inputListItems.length) {
  <h1>Minha Lista</h1>
  }
  <div
    [ngClass]="{
      container: inputListItems.length
    }"
  >
    <label
      class="input-label-text"
      for="inputTask"
      [ngClass]="{
        'remove-margin-bottom': !inputListItems.length
      }"
    >
      <input
        placeholder="Adicione um novo item"
        id="inputTask"
        type="text"
        (keyup.enter)="focusAndAddItem(inputText.value)"
        autofocus
        #inputText
      />
      <button
        class="btn btn-primary-icon"
        title="Adicionar um novo item"
        (click)="focusAndAddItem(inputText.value)"
      ></button>
    </label>
  </div>
</section>
