<section
  [ngClass]="{
    'has-items': inputListItems.length
  }"
>
  @if(inputListItems.length) {
  <h1>Minha Lista</h1>
  }
  <div>
    <label class="input-label-text" for="inputTask">
      <input
        placeholder="Adicione um novo item"
        id="inputTask"
        type="text"
        (keyup.enter)="focusAndAddItem(inputText.value)"
        autofocus
        #inputText
        [ngClass]="{
          'remove-margin-bottom': inputListItems.length
        }"
      />
      <button
        class="btn btn-primary-icon"
        title="Adicionar um novo item"
        (click)="focusAndAddItem(inputText.value)"
      ></button>
    </label>
  </div>
</section>
